body{
    background-color: #ebebeb;
}
#banner{
    
    border-radius: 10px;
    width:auto;
    height: 50px;
    margin: 20px;
    padding: 5px;
    background-color: #D7DBE4;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.533);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
div#banner div img{
    width: 30px;
    height: 30px;

}
.menu{
    color: black;
    display: flex;
    border: 1px;
    border-color: rgb(162, 162, 162);
    border-radius: 5px;
    width: 135px;
    height: 35px;
    justify-content: center;
    align-items: center; 
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 17px;
}

#container{

    display: flex;
    justify-content: space-between;
}

#content_haberler{
    
    color: black;
    text-align: center;
    text-shadow: 3px 3px #D7DBE4 ;
    letter-spacing: 3px;
    font-size: 100px;
    border-radius: 5px;
    
    margin: 10px;
    padding: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.533);
   
    align-items: center;
    justify-content: center;
    
    width:750px;
    height: 1550px ;
}

#content_duyurular{

    color: black;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 3px 3px #D7DBE4 ;
    font-size: 100px;
    border-radius: 5px;
    
    margin: 10px;
    padding: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.533);
    
    
    width: 750px;
    height: 1550px ;

}
#content_duyurular p{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#content_haberler p{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
div#container div.güncel img{
    width: 400px;
    height: 250px;
    
}
#content_haberler .güncel {

    color: black;
    font-size: 20px;
    text-shadow: none;
    letter-spacing: 1px;
    text-justify:auto;
    float: left;
    overflow: auto;
    padding: 10px;

}

#content_duyurular .güncel {

    color: black;
    font-size: 20px;
    text-shadow: none;
    letter-spacing: 1px;
    text-justify:auto;
    float: left;
    overflow: auto;
    padding: 10px;
    margin-right: 10px;

}
#content_duyurular .güncel a{
    font-size: 20px;
    background-color:#D7DBE4 ;
    border: none;
    color: rgb(63, 63, 63);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#content_duyurular .güncel a:hover{
    background-color: #6c6c6c;
    color: #000000;
}

.güncel{
    width: 670px;
    height: 300px;
    border: 2px solid;
    align-items: center;
    margin: 20px;
    float: left;
    border-style:dashed;
    box-shadow: 0px 0px 4px #6c6c6c;
    border-color: rgba(165, 165, 165, 0.479);
    border-radius: 10px;
    border-width: 2px;

    
}



#footer{

    display: flex;
    border-radius: 10px;
    width:auto;
    height: 50px;
    margin: 20px;
    padding: 5px;
    background-color: #f9f9f9c8;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.533);
    align-items: center;
    justify-content:space-evenly;
    

}


div#footer a img{
    width: 40px;
    height: 40px;
    float: right;
}

div#footer img{
    
    width: 15px;
    height: 15px;
    align-items: center;
    justify-content: center;

}


#baslik{
    display: flex;
    font-size:20px;
    letter-spacing: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

 #hakkimda{

    margin-left: 800PX;
    text-decoration: none;

}
div div a {
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

.menu:hover{
    background-color: rgba(207, 207, 207, 0.5);
}




