
#banner{
    border-radius: 10px;
    width:auto;
    height: 50px;
    margin: 20px;
    padding: 5px;
    background-color: #D9D9D9;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.533);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}



.menu{
    color: black;
    display: flex;
    border: 1px;
    border-color: rgb(162, 162, 162);
    border-style: inset;
    border-radius: 5px;
    width: 135px;
    height: 35px;
    justify-content: center;
    align-items: center; 
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
}

#baslik{
    font-size:25px;
    letter-spacing: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

 #hakkimda{

    margin-left: 800PX;
    text-decoration: none;

}
div div a {
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

.menu:hover{
    background-color: rgba(207, 207, 207, 0.5);
}




